.media-search {
    width: 100%;
    
    
}
.search-loader-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.media-search h1 {
    text-align: center;
}
.media-search__container {
    width: 85%;   
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 0 auto;
}
.media-columns {
    width: 24%;
}
.media-search__container__item {
    width: 100%;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
    transition: all .4s ease-in-out;
    border-radius: 7px;
    animation: ease-in-out .4s fadeIn;
}
.media-search__container__item:hover #nasa-title{
   top: 0;
}
.media-search__container__item:hover {
    transform: scale(1.02);
    z-index: 200;
}
.media-search__container__item:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .3;
}
.media-search__container__item:hover:before{
    opacity: 0;
 }
.media-search__container__item:hover .layout-img {
    opacity: 1;
}
.media-search__container img {
    width: 100%;
    border-radius: 7px;
}
.media-search__container__item .title {
    position: absolute;
    color: white;
    width: 100%;
    text-align: center;
    z-index: 100;
    top: -200px;
    transition: all .4s ease-in-out;
}
.media-search__container__item .title h5 {
    margin-bottom: 10px;
    margin-top: 10px;
}
.media-search__container__item .title:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    left: 0;
    opacity: .7;
    z-index: -1;
}
.nasa-image-search {
    width: 400px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
}
.nasa-image-search input {
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    outline: none;
    font-size: 22px;
    box-sizing: border-box;
    padding: 2px;
}
.nasa-image-search button {
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}