.navigate{
    width: 300px;
    height: 100vh;
    background-color: tomato;
    transition: .5s all ease-in-out;
    position: absolute;
    z-index: 1000;
}
.nav-show{
    transform: translateX(0)
}
.nav-hide{
    transform: translateX(-300px)
}