.api-item__container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation: .4s enter linear;
}
.api-item {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    transition: .4s all ease-in-out;
    position: relative;
    color: white;
}
.api-item h3 {
    
}
.api-item .first {
    position: absolute;
    top: 10px;
    left: -105px;
    transition: .4s all ease-in-out;
}
.api-item .second {
    position: absolute;
    top: 30px;
    right: -105px;
    transition: .4s all ease-in-out;
}
.api-item .third {
    position: absolute;
    top: 50px;
    left: -105px;
    transition: .4s all ease-in-out;
}
.api-item .fourth {
    position: absolute;
    top: 70px;
    right: -105px;
    transition: .4s all ease-in-out;
}
.api-item:hover {
    transform: scale(1.1);
}
.api-item:hover .first{
    left: 75px;
}
.api-item:hover .second{
    right: 90px;
}
.api-item:hover .third{
    left: 100px;
}
.api-item:hover .fourth{
    right: 106px;
}
.api-item img {
    width: 100%;
    height: 100%;
}

















.api-item:hover .first2{
    left: 75px;
}
.api-item:hover .second2{
    right: 100px;
}
.api-item:hover .third2{
    left: 115px;
}
.api-item .first2 {
    position: absolute;
    top: 30px;
    left: -105px;
    transition: .4s all ease-in-out;
}
.api-item .second2 {
    position: absolute;
    top: 60px;
    right: -105px;
    transition: .4s all ease-in-out;
}
.api-item .third2 {
    position: absolute;
    top: 90px;
    left: -105px;
    transition: .4s all ease-in-out;
}






@keyframes enter {
    0%{transform: scale(0);}
    100%{opacity: scale(1);}
}