.check-form {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    height: 35px;
    width: 35px;
    margin-right: 75px;
}
.check-form input {
    margin: 0;
}
.check-form label{
    position: absolute;
    left: 37px;
    bottom: 0;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
}
.checkbox-container {
    margin-top: 5px;
    
}