.apod-min {
    width: 200px;
    padding: 0;
    position: relative;
    
    box-sizing: border-box;
    
    
}
.apod-min:hover h5 {
    opacity: 1;
}
.apod-min:hover p {
    opacity: 1;
}
.apod-min h5{
    position: absolute;
    color: white;
    top: 0;
    opacity: 0;
    left: 10%;
    transition: all .3s;
}
.apod-min p{
    position: absolute;
    bottom:0;
    left:10px;
    color: white;
    font-size: 14px;
    opacity:0;
    transition: all .4s;
}
.apod-min button {
    display: none;
}
.apod-min span{
    display: none;
}
.apod-min img {
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 5px;
    /* position: absolute;
    left: 0; */
}
.apod-full {
    width: 520px;
    min-height: 300px;
    background-color: #353b48;
    margin: 0;
    border-radius: 5px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    
}
.apod-full h5 {
    color: white;
    left: 70px;
    text-transform: uppercase;
    font-size: 18px;
    position: absolute;
    top: 10px;
}


.apod-full span{
    color: white;
    
    transition: all 10s linear;
    font-size: 14px;
    position: absolute;
    bottom: 15px;
    left: 10px;
    right: 10px;
    animation: 0.4s opacity linear;
    z-index: 10;
}
.apod-full span:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
    left: 0;
    top: 0;
    opacity: .3;
}
.apod-full img {
    width: 100%;
    height: auto;
    
}
.apod-full p{
    position: absolute;
    top:0;
    left:10px;
    color: white;
    font-size: 14px;
    opacity:0;
    
    transition: all .4s;
}
.apod-full:hover p{
    opacity: 1;
}
.apod-full button {
    position: absolute;
    top: 20px;
    right: 15px;
}










@keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}