.apod-min {
    width: 200px;
    padding: 0;
    position: relative;
    animation: 0.7s opacity linear;
    box-sizing: border-box;
    height: 200px;
    border-radius: 5px;
    background-color: #00a8ff;
    margin-bottom: 10px;
}
.apod-min img {
    width: 200px;
    height: 200px;
    margin: 0;
    border-radius: 5px;
    /* position: absolute;
    left: 0; */
}
.apod-min:hover h5 {
    opacity: 1;
}
.apod-min:hover p {
    opacity: 1;
}
.apod-min h5{
    position: absolute;
    color: white;
    top: 0;
    opacity: 0;
    left: calc(20% - 2rem);
    transition: all .3s;
}
.apod-min p{
    position: absolute;
    bottom:0;
    left:10px;
    color: white;
    font-size: 14px;
    opacity:0;
    transition: all .4s;
}
.apod-min button {
    display: none;
}
.apod-min span{
    display: none;
}

.apod-full {
    width: 40vw;
    min-height: 450px;
    height: 70vh;
    background-color: #00a8ff;
    margin: 0;
    border-radius: 5px;
    position: relative;
    padding: 5px;
    box-sizing: border-box;
    animation: .7s tv ease-in-out;
    
}
.apod-full img {
    width: 100%;
    height: 100%;
    
}
.apod-full h5 {
    color: white;
    left: 70px;
    text-transform: uppercase;
    font-size: 18px;
    position: absolute;
    top: 10px;
}


.apod-full span{
    color: white;
    transition: all 10s linear;
    font-size: 0.5em;
    position: absolute;
    bottom: 15px;
    left: 10px;
    right: 10px;
    animation: 0.4s opacity linear;
    z-index: 10;
    font-size: 14px;
}
.apod-full span:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
    left: 0;
    top: 0;
    opacity: .8;
}

.apod-full p{
    position: absolute;
    top:0;
    left:10px;
    color: white;
    font-size: 14px;
    opacity:0;
    
    transition: all .4s;
}
.apod-full:hover p{
    opacity: 1;
}
.apod-full button {
    position: absolute;
    top: 20px;
    right: 15px;
}










@keyframes opacity{
    0%{
    
        transform: scale(0);
    }
    50%{transform: scale(1);}
    75%{transform: scale(1.1);}
    100%{
        transform: scale(1);
    
    }
}
@keyframes tv{
    0%{transform: scale(0);}
    /* 25%{width: 5vw; height: 10vh}
    50%{width: 15vw; height: 40vh}
    75%{width: 25vw; height: 60vh} */
    100%{transform: scale(1);}
}